<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Layout</title>
	<link href="../style.css" media="all" rel="stylesheet" type="text/css" />
	<link href="../../theme/default/css/panel.css" rel="stylesheet">
	<link href="../../theme/default/css/layout.css" rel="stylesheet">
	</head>
<body>
	<div id="layout" style="width:900px;height:600px;margin:15px;">
		<div region='north' title="north" style="height:80px;padding:10px">north region</div>
		<div region='west' title="west" split="true" style="width:150px;padding:10px;">west content</div>
		<div region='east' title="east" split="true" style="width:100px;padding:10px;">east region</div>
		<div region='south' title="south" style="height:70px;padding:10px;">south region</div>
		<div region='center'>
			<p>main</p>
			<p>main</p>
			<p>main</p>
			<p>main</p>
		</div>
	</div>
</body>

<script type="text/javascript" src="../jquery.min.js"></script>
<script type="text/javascript" src="../main.js"></script>

<script type="text/javascript" src="../../src/core.js"></script>
<script type="text/javascript" src="../../src/utils.js"></script>
<script type="text/javascript" src="../../src/resizable.js"></script>
<script type="text/javascript" src="../../src/panel.js"></script>
<script type="text/javascript" src="../../src/layout.js"></script>
<script type="text/javascript" id="script">
$(function(){
	var layout = new stone.Layout($('#layout'), {
		title:'This is Panel'
	});
	
});
</script>
</html>